body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #47294b;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #190e27;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-catalogo .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #47294b;
}

.section-title {
    font-family: Pacifico, cursive;
}

#momentos, #fale-conosco {
    background-color: #ffeae6;
}

.text-colored {
    color: #47294b;

}

.nav-catalogo .nav-link.active,
#fale-conosco button {
    background-color: #47294b;
    color: #ffeae6;
}

.nav-catalogo .nav-link:hover {
    color: #ee76da;   
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}